.hhi{
    position: relative;
    padding-top: 40px;
    border: 1px solid #3333;
    
}
.top-1{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff ;
    left: 50%;
    top: -15px;  
    border-radius: 50%;
}